body {
  background: linear-gradient(rgb(255, 255, 255) 0%, #ffffff 100%);
}

/* Navbar styles (if applicable) */
.navbar-custom {
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: rgb(252, 252, 252);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  height: 93px;
  filter: brightness(200%) contrast(200%);
  margin: 10px 0;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 25px;
}

.nav-item {
  position: relative;
  margin-right: 20px;
}

.navbar-nav .nav-item a {
  margin: 0;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: bold;
  transition: color 0.3s ease;
  text-decoration: none;
}

.navbar-nav .nav-item a:hover {
  color: rgba(255, 84, 73, 1);
  text-decoration: underline;
  cursor: pointer;
}

.navbar-secondary {
  background: rgba(0, 0, 0, 0.386);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 147px;
  background-image: url("../img/subtle RV tire tracks to use as a website background_.jpg");
  background-size: cover;
  background-position: center;
}

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.7);
}

.btn-primary-custom {
  background: rgb(255, 84, 73);
  border-radius: 3px;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-primary-custom:hover {
  background-color: rgb(118, 118, 118);
}

.card img {
  max-width: 121px;
}

.section-banner {
  background: url("../img/about-warehouse.jpg") center / cover;
  height: 335px;
  border-radius: 3px;
}

.hero-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.11), #00000036 98%),
    linear-gradient(rgba(255, 0, 0, 0.2), rgba(219, 255, 0, 0.2) 99%),
    url("assets/img/RV.jpg") center / cover;
  height: 350px;
}

footer {
  background-color: rgb(0, 0, 0);
  color: white;
}

footer a {
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.3s ease;
}

footer a:hover {
  color: rgba(255, 84, 73, 1);
}

/* Cart styles */
.cart-container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.cart-item:last-child {
  border-bottom: none; /* Remove border from last item */
}

.product-name {
  font-size: 1.2em;
  font-weight: bold;
}

.product-details {
  font-size: 0.9em;
  color: #555;
}

.back-button {
  margin-top: 20px;
  padding: 10px 15px;
  background: rgb(255, 84, 73);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

.back-button:hover {
  background: rgb(118, 118, 118);
}
